<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Panel">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Student Information System <sup>v1.0</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/Panel">
            <i class="fas fa-fw fa-home"></i>
            <span>Homepage</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Management
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/Panel/UserManagement">
            <i class="fas fa-fw fa-cog"></i>
            <span>User Management</span>
        </a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/Panel/CourseManagement">
            <i class="fas fa-fw fa-cog"></i>
            <span>Course Management</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Panel/ProgramManagement">
            <i class="fas fa-fw fa-cog"></i>
            <span>Program Management</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Panel/DepartmentManagement">
            <i class="fas fa-fw fa-cog"></i>
            <span>Department Management</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <br />

    <div class="sidebar-heading">
        Support
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/Panel/SupportTickets">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Support Tickets</span>
        </a>
    </li>

    <hr class="sidebar-divider my-0">

    <br />

    <div class="sidebar-heading">
        Profile
    </div>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Manage Profile</span>
        </a>
    </li>

</ul>