<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Panel">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Student Information System <sup>v1.0</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/Panel">
            <i class="fas fa-fw fa-home"></i>
            <span>Homepage</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Academy
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/Panel/Students">
            <i class="fas fa-fw fa-book"></i>
            <span>Students</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Panel/NewAnnouncement">
            <i class="fas fa-fw fa-envelope"></i>
            <span>Send Announcement</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Panel/Broadcast">
            <i class="fas fa-fw fa-bullhorn"></i>
            <span>Broadcast</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Manage Profile</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        To Be Changed
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>To Be Changed</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">To Be Changed:</h6>
                <a class="collapse-item" href="login.html">To Be Changed</a>
                <a class="collapse-item" href="register.html">To Be Changed</a>
                <a class="collapse-item" href="forgot-password.html">To Be Changed</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">To Be Changed:</h6>
                <a class="collapse-item" href="404.html">To Be Changed</a>
                <a class="collapse-item" href="blank.html">To Be Changed</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>To Be Changed</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>To Be Changed</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>