@page
@model IndexModel
@{
    ViewData["Title"] = "Telefon Numarasını Güncelle";
    ViewData["ActivePage"] = ManageNavPages.Index;
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">

}

<h3 id="profile-title" class="text-dark"><i class="fas fa-phone fa-sm"></i>   @ViewData["Title"]</h3>
<br />
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <br />
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary btn-yeniDuyuruOlustur">Kaydet</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
